@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: unset;
}

body {
	background-color: #121417;
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.title {
	color: #fff;
	font-size: 2rem;
	margin-bottom: 16px;
}

.subtitle {
	color: #b0b0b0;
	font-size: 16px;
	margin-bottom: 42px;
	text-align: center;
}

.error {
	color: rgb(193, 65, 65);
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 12px;
	overflow: auto;
	height: 350px;
	display: block;
	border: 1px solid #3B4754;

	&::-webkit-scrollbar {
		width: 0px;
	}

	thead {
		background-color: #1C2126;
	}

	thead, tbody {
		display: block;
	}

	tr {
		display: flex;
		border-bottom: 1px solid #fff;

	}

	th, td {
		text-align: left;
		flex: 1;
	}

	th {
		padding: 16px;
		color: #fff;
		font-weight: normal;
	}

	td {
		padding: 24px;
		display: flex;
		align-items: center;
		gap: 8px;
		color: #9CABBA;

		svg {
			width: 20px;
			height: 20px;
		}
	}
}

.charts {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

@media (min-width: 988px) {
	.charts {
		flex-direction: row;
		align-items: center;
		gap: 32px;
	}
}