.container_home {
	padding: 48px 0;
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 1280px;
	margin: 0 auto;

  > section {
		display: flex;
		justify-content: space-between;
		gap: 16px;
		flex-wrap: wrap;
	}
}