
.recentTransaction {
  h1 {
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 300px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0px;
    }

    .item {
      display: flex;
      align-items: center;
      gap: 16px;
      border-radius: 12px;
      background-color: #2B3640;
      padding: 8px;

      svg {
        min-width: 36px;
        min-height: 36px;
        background-color: #fff;
        padding: 4px;
        border-radius: 12px;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 4px;

        h2 {
          margin: 0;
          font-size: 16px;
          color: #fff;
        }

        p {
          margin: 0;
          font-size: 14px;
          color: #9EADBF;
        }
      }
    }
  }

  table {
    display: none;
  }
}

@media (min-width: 988px) {
  .recentTransaction {
    .container {
      display: none;
    }

    table {
      display: block;
    }
  }
}