.public {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  flex: 1;

  form {
    margin-top: 32px;
  }

  a {
    color: #fff;
    text-decoration: underline;
    text-align: center;
    margin-top: 32px;
    color: var(--black);
  }
}

@media (min-width: 988px) {
  .public {
    margin-top: 0;
  }
}