.container {
	background-color: #2A2A2A;
	border-radius: 12px;
	color: #fff;
	padding: 8px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 8px;
	font-size: 14px;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;

		> div {
			display: flex;
			gap: 8px;

			button {
				background-color: transparent;
				border: unset;
				padding: 4px;
				cursor: pointer;
			}
		}
	}

	> p {
		text-align: center;
		font-weight: bold;
	}
}
