.modal_form {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	
	h2, p {
	  color: #fff;
	  text-align: center;
	  max-width: 400px;
	}

	.button {
		display: block;
		margin: 0 auto;
	}

	form {
	  display: flex;
	  flex-direction: column;
	  gap: 24px;	
	  background-color: #2A2A2A;
	  padding: 24px;
	  width: 100%;
	  max-width: 600px;
	  border-radius: 12px;
	}
  
	> div {
	  border-radius: 12px;
	  position: fixed;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  height: 100%;
	  max-width: 648px;
	  width: calc(100% - 32px);
  
	  > div {
			padding: 48px 24px;
			display: flex;
			align-items: center;
			border-radius: 12px;

			button {
				margin-top: -44px;
				margin-right: -32px;
			}

			.select {
				margin-top: 16px;
			}
	  }
	}
}