.report ul {
  background-color: #121212;
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;

  li {
    background-color: #1E1E1E;
    padding: 16px;
    border-radius: 8px;

    p {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
    }
  }
}