.resume {
	display: flex;
	justify-content: center;
	gap: 24px;
	text-align: center;
	flex-direction: column;
	flex: 1;

	.title {
		color: #fff;
		margin-bottom: 12px;
	}

	.value {
		font-weight: bold;

		&.salary {
			color: #90CAF9;
		}

		&.negative {
			color: #EF9A9A;
		}

		&.remaining {
			color: #A5D6A7;
		}
	}

	.account_payable {
		display: flex;
		justify-content: center;
		gap: 24px;
		padding-bottom: 24px;
		border-bottom: 1px solid #2A2A2A;

		div:first-child {
			border-right: 1px solid #2A2A2A;
			padding-right: 24px;
		}
	}
}