.skeleton {
  background-color: #121212;
  width: 100%;
  height: calc(100vh - 76px);
  padding: 48px 24px;

  &.skeletonNewExpense {
    margin-top: 76px;

    .container {
      height: 100%;

      .card {
        width: 652px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 0 16px;
        justify-content: space-between;
  
        &_line {
          width: 100%;
          margin-bottom: 0;
  
          &:first-child {
            width: 40%;
          }
  
          &:nth-child(3), &:nth-child(4) {
            width: calc(50% - 16px);
          }
        }
      }
    }
  }

  .container {
    max-width: 1296px;
    display: flex;
    margin: 0 auto;
		gap: 24px;
		flex-wrap: wrap;
		justify-content: center;

    .card {
      background-color: #e0e0e0;
      width: 416px;
      height: auto;
      padding: 24px;
      border-radius: 12px;
      animation: pulse 1.5s infinite;

      &_line {
        background-color: #d3d3d3;
        width: 100%;
        height: 24px;
        border-radius: 12px;
        margin-bottom: 16px;
      }
    }
  }
}

@keyframes pulse {
  0% {
    background-color: #d3d3d3;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #d3d3d3;
  }
}

@media (min-width: 988px) {
	.skeleton {
    height: calc(100vh - 112px);
  }
}