.skeletonHomepage {
  display: flex;
  flex-direction: column;
  gap: 32px;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeletonRow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.skeletonIcon {
  width: 32px;
  height: 32px;
  background-color: #e0e0e0;
  border-radius: 50%;
}

.skeletonSelect {
  width: 240px;
  height: 46px;
  background-color: #e0e0e0;
  border-radius: 12px;
}

.skeletonBox {
  max-width: 400px;
  min-width: 312px;
  width: 100%;
  height: 106px;
  background-color: #e0e0e0;
  border-radius: 12px;
}

.skeletonTitle {
  width: 200px;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 12px;
}

.skeletonTransactions {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .skeletonRow {
    flex-direction: column;

    .skeletonItem {
      width: 100%;
      height: 75px;
      background-color: #e0e0e0;
      border-radius: 12px;
    }
  }

}

.cards .card {
  flex: 1;
  height: 163px;
  border-radius: 12px;
}

.table {
  height: 400px;
  width: 100%;
  max-width: 100%;
  border-radius: 12px;
}

.chart {
  flex: 1;
  height: 360px;
  border-radius: 12px;
  background-color: #e0e0e0;
}

/* Animação Pulse */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
