.new_expense {
  max-width: 700px;
  margin: 0 auto;

  > div {
    gap: 24px;

    > a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    form {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background-color: #1E1E1E;
      border-radius: 12px;
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 24px;
  
      h1 {
        color: #FFD700;
      }

      p {
        margin-top: -16px;
        color: #B0B0B0;
      }

      .date {
        display: flex;
        gap: 24px;

        > div {
          flex: 1;
        }
      }

      .checkbox > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        width: 100%;
        margin: 8px 0;

        input {
          width: max-content;
          width: 16px;
          height: 16px;
        }

        label {
          order: 2;
          width: max-content;
        }
      }
    }
  }
}

@media (min-width: 988px) {
	.new_expense {
    margin: 0 auto;
  }
}