.card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    font-size: 20px;
    font-weight: normal;
  }

  .container {
    display: flex;
    gap: 16px;
    overflow: auto;

    .item {
      border: 1px solid var(--gray-3);
      border-radius: 12px;
      padding: 16px;
      min-width: 278px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .icon {
        display: flex;
        gap: 8px;
        align-items: center;

        svg {
          min-width: 20px;
          min-height: 20px;
        }

        h2 {
          color: var(--black-2);
          font-size: 14px;
          font-weight: normal;
        }
      }

      .cardNumber {
        color: var(--gray);
        font-size: 16px;
        font-weight: 500;
      }

      .total {
        display: flex;
        flex-direction: column;
        gap: 8px;

        p:first-child {
          color: var(--gray);
          font-size: 12px;
        }

        p:last-child {
          color: var(--black-2);
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}