.card {
  h1 {
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    gap: 16px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0px;
    }

    .item {
      padding: 12px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      min-width: 230px;
      position: relative;
      color: #fff;

      h2 {
        font-size: 16px;
      }

      p {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 988px) {
  .card {
    margin-bottom: 0;

    .container {
      overflow: hidden;
      flex-wrap: wrap;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .item {
        flex: 1;
        padding: 16px;

        h2 {
          font-size: 16px;
        }

        p {
          font-size: 24px;
        }
      }
    }
  }
}