.form_control {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
  }

  input {
    background-color: var(--gray-2);
    color: var(--black-2);
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    outline: none;
    border: unset;

    &:focus {
      border-color: var(--black);
    }

    &::placeholder {
      color: var(--gray);
    }
  }

  &:has(input[type="checkbox"]) {
    flex-direction: row;
    gap: 8px;

    label {
      order: 2;
      cursor: pointer;
      width: max-content;
    }

    input {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      vertical-align: middle;
      border: unset;
      cursor: pointer;

      &:checked {
        background-color: var(--gray-2);
        border: 1px solid var(--black);
      }
    }
  }
}