
.form_control {
  label {
    font-size: 16px;
    color: #fff;
  }

  input {
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 16px;
    height: 56px;
    margin: 8px 0 0;
    border: unset;
    background-color: #293038;
    color: #fff;

    &:focus, &:active {
      border: 1px solid #fff;
      outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus, 
    &:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0px 1000px #293038 inset;
      -webkit-text-fill-color: #fff;
    }
  }

  &:has(input[type="checkbox"]) {
    display: flex;
    align-items: center;
    gap: 8px;

    label {
      order: 2;
      cursor: pointer;
    }

    input {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      vertical-align: middle;
      order: 1;
      margin: 0;
      cursor: pointer;

      &:checked {
        background-color: #4096F5;
        border: 1px solid #4096F5;
      }
    }
  }
}
