.budget {
  .container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    .item {
      border-radius: 12px;
      padding: 24px;
      flex: 1;

      .title {
        font-size: 14px;
        color: var(--gray);
      }

      .value {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        gap: 16px;
        align-items: center;
      }

      &:has(.positive) {
        background-color: var(--green);

        .value {
          color: var(--green-dark);

          span {
            background-color: var(--green-light);
            padding: 8px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      &:has(.negative) {
        background-color: var(--red);

        .value {
          color: var(--red-dark);

          span {
            background-color: var(--red-light);
            padding: 8px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}