.modalAction {
  .container {
    height: max-content;
    bottom: unset;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 390px;
    margin-bottom: 0;
    
    .closeButton {
      position: absolute;
      top: 12px;
      right: 12px;
      background: transparent;
      color: rgb(255, 255, 255);
      padding: 4px;
      max-width: unset;
      width: unset;
    }

    .header {
      margin-top: 24px;

      h2, p {
        color: #fff;
      }

      h2 {
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
      }

      &.headerDelete {
        h2 {
          margin-bottom: 24px;
        }

        p {
          font-size: 16px;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .select {
        max-width: 100%;
      }
    }

    .actions {
      display: flex;
      justify-content: center;
      gap: 32px;

      button {
        background-color: #3B4754;
        color: #fff;

        &.delete {
          background-color: #e53935;

          &:hover {
            background-color: #c62828;
          }
        }

        &.edit {
          background-color: #4caf50;
        }
      }
    }
  }
}