.header {
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 16px 24px;

    &_logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      flex: 1;

      p {
        display: none;
      }
    }

    ul {
      position: fixed;
      bottom: 0;
      width: 100%;
      margin-left: -24px;
      z-index: 2;
      display: flex;
      gap: 16px;
      padding: 16px 24px;
      justify-content: space-between;
      background-color: var(--white);
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
      
      li {
        &.active {
          a {
            background-color: var(--gray-2);
          }
        }

        a {
          color: var(--black);
          font-weight: 500;
          padding: 8px 16px;
          border-radius: 8px;
          transition: background-color 0.3s;
          display: flex;
          align-items: center;
          gap: 8px;

          span {
            display: none;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }

    button {
      background-color: transparent;
      border: none;
      color: var(--black);
      padding: 8px 16px;
      border-radius: 8px;
      height: 36px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  &.public {
    .container {
      align-items: center;
      gap: 16px;
    }
  }
}

@media (min-width: 988px) {
  .header {
    .container {

      &_logo {
        justify-content: unset;

        p {
          color: var(--black);
          display: block;
          font-size: 20px;
        }

        button {
          display: none;
        }
      }

      ul {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
        box-shadow: unset;
        border: none;
        margin: 0;
        padding: 0;
        justify-content: unset;
        width: unset;

        li a {
          span {
            display: block;
          }
        }
      }
    }
  }
}