:root {
	--white: #ffffff;
	--gray-2: #f3f3f5;
	--gray-4: #ececf0;
	--gray-3: #a1a1a1;
	--gray: #717182;
	--black: #030213;
	--black-2: #0a0a0a;
	--disabled: #8b8787;
	--green: #edfbf2;
	--green-light: #dcfce7;
	--green-dark: #00a63e;
	--red: #fef2f2;
	--red-light: #ffe2e2;
	--red-dark: #e7000b;
	--yellow: #ffedd4;
	--orange: #9f2d00;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: unset;
}

body {
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&:has(.invoice) {
		overflow: hidden;
	}
}

.title {
	color: var(--black);
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 8px;
}

.subtitle {
	font-size: 16px;
	color: var(--gray);
	text-align: center;
}

button, .link-as-button {
	cursor: pointer;
	background-color: var(--black);
	color: var(--white);
	font-size: 16px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 16px 24px;
	height: max-content;
	text-align: center;
	justify-content: center;
	border: unset;

	&:hover {
   	background-color: var(--gray);
  }

  &:disabled {
    background-color: var(--disabled);
    cursor: not-allowed;

    svg {
      animation: spin 1s linear infinite;
    }
  }
}

.empty {
	background-color: #1C2126;
	padding: 24px;
	border-radius: 12px;
	color: #B0B0B0;
	flex: 1;

	p {
		margin-bottom: 0;
	}
}

.charts {
	flex-direction: row;
	align-items: center;
	gap: 32px;
	display: flex;
	flex-wrap: wrap;
}

.modal {
	position: fixed;
  overflow: hidden;
  z-index: 1;
	bottom: 0;
	left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
	z-index: 3;
	display: flex;
  align-items: center;
  justify-content: center;

	.container {
    padding: 24px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 12px 12px 0 0;
    height: 65%;
    overflow: auto;
    animation: slideUp 0.3s ease-out;
		background-color: var(--white);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (min-width: 988px) {
	.title {
		font-size: 24px;
	}

	.subtitle {
		font-size: 16px;
	}
}